# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
* List of popular languages used in Data Science
* List of common libraries used in Data Science
* Table with common Data Science Tools
* Examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. numPy
3. Matplotlib

| Data Science Tools | 
| --- | 
| Jupyter Notebooks |
| Rstudio | 
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

1+3
2*2
5-6

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Matías Márquez